<library path="lib/libgraph_ros1">
  <class type="graph::ros1::MoveitCollisionCheckerPlugin" base_class_type="graph::ros1::CollisionCheckerBasePlugin">
    <description>graph::ros1::MoveitCollisionChecker plugin</description>
  </class>
  <class type="graph::ros1::ParallelMoveitCollisionCheckerPlugin" base_class_type="graph::ros1::CollisionCheckerBasePlugin">
    <description>graph::ros1::ParallelMoveitCollisionChecker plugin</description>
  </class>

  <class type="graph::ros1::EuclideanMetricsPlugin" base_class_type="graph::ros1::MetricsBasePlugin">
    <description>graph::core::EuclideanMetrics plugin</description>
  </class>

  <class type="graph::ros1::InformedSamplerPlugin" base_class_type="graph::ros1::SamplerBasePlugin">
    <description>graph::core::InformedSampler plugin</description>
  </class>

  <class type="graph::ros1::RRTPlugin" base_class_type="graph::ros1::TreeSolverPlugin">
    <description>graph::core::RRT plugin</description>
  </class>

  <class type="graph::ros1::BiRRTPlugin" base_class_type="graph::ros1::TreeSolverPlugin">
    <description>graph::core::BiRRT plugin</description>
  </class>

  <class type="graph::ros1::AnytimeRRTPlugin" base_class_type="graph::ros1::TreeSolverPlugin">
    <description>graph::core::AnytimeRRT plugin</description>
  </class>

  <class type="graph::ros1::RRTStarPlugin" base_class_type="graph::ros1::TreeSolverPlugin">
    <description>graph::core::RRTStar plugin</description>
  </class>
</library>
